{% extends 'base.html'%}
{% block content%}
    <div class="container">
        <div class="box">
            <h1>This is the weather app!</h1>

            <hr>

            <h4>This is a simple weather app to see what the weather is like in the location of your choice</h4>
            <br/>
            {% import  'bootstrap/wtf.html' as wtf %}
            {{ wtf.quick_form(form)}}
        </div>
    </div>
    <br><br><br><br>
    {% if weather_display.city %}
        <div class="container">
            <div class="row weather-info">
                <div class="col-md-6">
                    <br>
                    <h2>{{ weather_display.city | capitalize }}, {{ weather_display.country  }}</h2>
                    <hr/>
                    <img src="https://openweathermap.org/img/w/{{ weather_display.icon }}.png" alt="image">
                    <p style="font-size: 27px;"><i>{{ weather_display.description}}</i></p>
                    <p><b>Temperature:</b> {{ weather_display.temperature }}°C</p>
                </div>
                <div class="col-md-6">
                    <p style="padding-top: 35px"><b>Today's date:</b> {{ d1 }}</p>
                    <br><br><br>
                    <p><b>Highest temperature today:</b> {{ weather_display.max_temp }}°C</p>
                    <p><b>Lowest temperature today:</b> {{ weather_display.min_temp }}°C</p>
                    <p><b>Wind speed:</b> {{ weather_display.wind_speed }} km/h</p>
                    <p><b>Wind direction:</b> {{ weather_display.wind_direction }}°</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container bg-info" style="justify-content: center; text-align: center;">
            <h3> You haven't searched for a city yet. :( </h3>
        </div>
    {% endif %}



    <style>
    .container{
        height: 100%;
    }
    .box{
        top: 50%
    }

    .col-md-6{
        width: 50%;
    }
    p{
        font-size: 25px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .weather-info{
        background-image: linear-gradient(180deg,#beede5, #b4c9c7);
    }
    img{
        width: 50px;
        height: auto;
    }
    </style>
{% endblock %}

